<section class="row mb-5 mt-3">
  <div class="col">
    <h2>Angular Features</h2>
  </div>
</section>

<section id="angular:innerHtml" class="row mb-5 mt-3">
  <div class="col">
    <hr>
    <h3>[innerHtml] <i class="fa fa-times"></i></h3>

    <h4>Known issues</h4>
    <ul>
      <li>
        Not tested.<br>
        TODO Test
      </li>
    </ul>
  </div>
</section>

<section id="angular:ngTemplateOutlet" class="row mb-5 mt-3">
  <div class="col">
    <hr>
    <h3>[ngTemplateOutlet] <i class="fa fa-times"></i></h3>

    <h4>Known issues</h4>
    <ul>
      <li>
        Not tested.<br>
        TODO Test
      </li>
    </ul>
  </div>
</section>

<section id="angular:event-mouseover" class="row mb-5 mt-3">
  <div class="col">
    <hr>
    <h3>(mouseover) <i class="fa fa-times"></i></h3>

    <h4>Known issues</h4>
    <ul>
      <li>
        Not tested.<br>
        TODO Test
      </li>
    </ul>
  </div>
</section>

<section id="angular:event-mouseleave" class="row mb-5 mt-3">
  <div class="col">
    <hr>
    <h3>(mouseleave) <i class="fa fa-times"></i></h3>

    <h4>Known issues</h4>
    <ul>
      <li>
        Not tested.<br>
        TODO Test
      </li>
    </ul>
  </div>
</section>

<section id="angular:event-drag" class="row mb-5 mt-3">
  <div class="col">
    <hr>
    <h3>(drag*) <i class="fa fa-times"></i></h3>

    <h4>Known issues</h4>
    <ul>
      <li>
        Not tested.<br>
        TODO Test
      </li>
    </ul>
  </div>
</section>

<section id="angular:animations" class="row mb-5 mt-3">
  <div class="col">
    <hr>
    <h3>Animations <i class="fa fa-times"></i></h3>

    <h4>Known issues</h4>
    <ul>
      <li>
        Not tested.<br>
        TODO Test
      </li>
    </ul>
  </div>
</section>
