<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <header>
    <h1>platform-webworker playground</h1>
    <nav>
      <ul class="nav nav-tabs">
        <li *ngFor="let r of routes" class="nav-item">
          <a
            class="nav-link"
            [class.disabled]="r.disabled"
            routerLink="{{r.url}}"
            routerLinkActive="active"
          >{{r.label}}</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
